# docker-compose.yml
services:
  # DATABASE
  mongodb-fm:
    image: mongo:7.0.5
    container_name: financial-management_mongodb
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR:-.}/db:/data/db
    networks:
      - main-network

  # BACKEND
  app-financial-management:
    build: './client'
    container_name: financial-management_app
    environment:
      - NEXT_PUBLIC_API_URL=/api/financial-release
      - INTERNAL_API_URL=http://api-financial-management:3000
    ports:
      - "${APP_PORT:-4200}:4200"
    depends_on:
      - api-financial-management
    networks:
      - main-network
    restart: on-failure


  # FRONTEND
  app-financial-management:
    build: './client'
    container_name: financial-management_app
    environment:
      - NEXT_PUBLIC_API_URL=http://api-financial-management:3000/financial-release
    ports:
      - "${APP_PORT:-4200}:4200"
    depends_on:
      - api-financial-management
    networks:
      - main-network
    restart: on-failure

networks:
  main-network:
    driver: bridge