services:
  app_proxy:
    environment:
      APP_HOST: financial-management_app
      APP_PORT: 4200
    container_name: financial-management_app_proxy_1
  mongodb-fm:
    image: mongo:7.0.5
    container_name: financial-management_mongodb
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR:-.}/db:/data/db
  api-financial-management:
    build: ${APP_DATA_DIR}/server-node
    container_name: financial-management_api
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb://mongodb-fm:27017/financial-management
    depends_on:
      - mongodb-fm
    restart: on-failure
  app-financial-management:
    build: ${APP_DATA_DIR}/client
    container_name: financial-management_app
    environment:
      - NEXT_PUBLIC_API_URL=/api/financial-release
      - INTERNAL_API_URL=http://api-financial-management:3000
    depends_on:
      - api-financial-management
    restart: on-failure
