services:
  # DATABASE
  mongodb-fm:
    image: mongo:7.0.5
    container_name: mongodb-fm
    restart: always
    volumes:
      - './db:/data/db'
    ports:
      - 27019:27017
    networks:
      - main-network

  # BACKEND
  api-financial-management:
    build: './server-node'
    container_name: api-financial-management
    ports:
      - "3000:3000"
    depends_on:
      - mongodb-fm
    volumes:
      - './backups:/backups/data'
    networks:
      - main-network

  # FRONTEND
  app-financial-management:
    build: './client'
    container_name: app-financial-management
    ports:
      - "4000:80"
    depends_on:
      - api-financial-management
networks:
  main-network:
    driver: bridge
