:host {
    position: relative;

    .add-new {
        position: absolute;
        top: 0;
        right: 0;
    }
    .desktop {
        .add-new {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.buttons-actions {
    display: flex;
    justify-content: space-between;
    width: 104px;
}
h3 {
    text-align: center;
    height: 30px;
    margin: 0;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 48px;
}
table {
    width: 100%;

    tr.mat-footer-row {
        font-weight: bold;
    }

    .mat-footer-cell-end,
    .mat-cell-end {
        text-align: end;
    }
}

::ng-deep .mat-header-cell-end {
    .mat-sort-header-container {
        justify-content: end;
    }
}

@media screen and (max-width: 768px) {
    .scroll-mobile {
        overflow-y: scroll;
    }
    
}